<div class="wrapper flex-grow-1"></div>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>ShopForHome</h6>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a routerLinkActive="active" routerLink="">Kitchen Decor</a></li>
          <li><a routerLinkActive="active" routerLink="">Bedroom Decor</a></li>
          <li><a routerLinkActive="active" routerLink="">Wall Shelves</a></li>
          <li><a routerLinkActive="active" routerLink="">Planter Stands</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Site Links</h6>
        <ul class="footer-links">
          <li><a routerLinkActive="active" routerLink="/about-us">About Us</a></li>
          <li><a routerLinkActive="active" routerLink="/contact-us">Contact Us</a></li>
          <li><a routerLinkActive="active" routerLink="">Privacy Policy</a></li>
          <li><a routerLinkActive="active" routerLink="">FAQs</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved
          <a href="#">ShopForHome</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" routerLink=""><i class="fab fa-facebook"></i></a></li>
          <li><a class="instagram" routerLink=""><i class="fab fa-instagram"></i></a></li>
          <li><a class="Twitter" routerLink=""><i class="fab fa-twitter"></i></a></li>
          <li><a class="linkedin" routerLink=""><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>