<nav class="navbar navbar-expand-md navbar-light bg-primary" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand fcolor" routerLink="/home"><b>ShopForHome</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active fcolor" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fcolor" routerLinkActive="active" routerLink="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fcolor" routerLinkActive="active" routerLink="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fcolor" routerLinkActive="active" routerLink="/contact-us">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link fcolor" routerLinkActive="active" routerLink="/auth"><img
                            src="../assets/Images/login.png" alt="login" height="30px" style="padding-bottom: 2px;">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/cart"><img
                            src="../assets/Images/cart.png" alt="cart" height="30px" style="padding-bottom: 2px;"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/wishlist"><img
                            src="../assets/Images/wishlist.png" alt="wishlist" height="30px"
                            style="padding-bottom: 2px;"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>